<!--！！！！！！！！！！！！！！这个头都是一样的，可以全部进行替换！！！！！！！！！！！！！！-->
<%include header%>
<!--！！！！！！！！！！！！！！这个头都是一样的，可以全部进行替换！！！！！！！！！！！！！！-->


<div class="container-fluid">
    <div class="row">
        <%include modules%>
        <div class="col-md-10 col-md-offset-2 main">
            <div class="row">
                <!--这一部分为查询栏-->
                <div class="col-md-12">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-md-1" for="searchCity">城市：</label>
                            <div class="col-md-2">
                                <select class="form-control" id="searchCity" name="searchCity">
                                    <option value="">全部城市</option>
                                    <%citys.forEach(function(obj){%>
                                    <option value="<%=obj._id%>"><%=obj.name%></option>
                                    <%});%>
                                </select>
                            </div>
                            <label class="control-label col-md-1" for="searchProduct">酒店产品：</label>
                            <div class="col-md-2">
                                <input type="text" id="searchProduct" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1" for="searchStartDate">有效期：</label>
                            <div class="col-md-2">
                                <div class="input-group date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="sDate" data-link-format="yyyy-mm-dd" id="searchStartDate" name="searchStartDate">
                                    <input class="form-control" type="text" value="" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                </div>
                            </div>
                            <div class="col-md-1">~~</div>
                            <div class="col-md-2">
                                <div class="input-group date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="eDate" data-link-format="yyyy-mm-dd" id="searchEndDate" name="searchEndDate">
                                    <input class="form-control" type="text" value="" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <!--<label class="control-label col-md-1" for="searchOperator">操作员：</label>-->
                            <!--<div class="col-md-2">-->
                                <!--<select id="searchOperator" name="searchOperator" class="form-control">-->
                                    <!--<option value="">-->
                                        <!--男一号-->
                                    <!--</option>-->
                                    <!--<option value="">-->
                                        <!--男二号-->
                                    <!--</option>-->
                                <!--</select>-->
                            <!--</div>-->
                            <label class="control-label col-md-1" for="searchProvider">供应商：</label>
                            <div class="col-md-2">
                                <select id="searchProvider" name="searchProvider" class="form-control">
                                    <option value="">全部供应商</option>
                                    <%providerNames.forEach(function(p){%>
                                    <option value="<%=p._id%>"><%=p.name%></option>
                                    <%});%>
                                </select>
                            </div>
                            <label class="control-label col-md-1" for="searchStatus">状态：</label>
                            <div class="col-md-2">
                                <select id="searchStatus" name="searchStatus" class="form-control">
                                    <option value="1">新录入</option>
                                    <option value="2">已通过</option>
                                    <option value="0">已拒绝</option>
                                    <option value="3">已禁用</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1 col-md-offset-1">
                                <button id="query" type="button" class="btn btn-danger form-control" data-loading-text="查询中...请稍候">查询</button>
                            </div>
                        </div>
                        <!-- hidden fields -->
                        <input type="hidden" id="sDate" value="" />
                        <input type="hidden" id="eDate" value="" />
                        <input type="hidden" id="productId" value=""/>
                    </form>
                </div>
            </div>

            <div class="row">
                <!--这一部分是分页栏 以及 表格栏-->
                <div class="col-md-12">
                    <ul id="pageDiv"></ul>
                    <table id="tblList" class="table table-bordered table-hover" width="100%">
                    <thead>
                    <tr>
                        <th>产品名称</th>
                        <th>开始日期</th>
                        <th>结束日期</th>
                        <th>价格/库存</th>
                        <th>周末定义</th>
                        <th>录入员</th>
                        <th>状态</th>
                        <th>录入时间</th>
                        <th>审核人</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                        <!--所有价格显示按照周中/周末形式显示，如果周中价格==周末价格 则仅显示一个价格-->
                        <!--如果是大库存，仅显示 inventory,并用(总库存)标注， 如果是小库存，则显示周中/周末库存  ，如果周中价格==周末价格 则仅显示一个库存-->
                        <tbody id="tblcontent">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hidden fields -->
<input type="hidden" id="uName" value=<%=user.mobile%> />
<input type="hidden" id="operator" name="operator" value=<%=user._id%> />
</body>




<%include footer%>
<script src="/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script src="/js/common/priceAudit.js"></script>


<script>
    $(document).ready(function() {
        var priceAudit = PriceAudit();
        priceAudit.init('hotel');
    } );

</script>

</html>