<div class="col-md-12">
    <ul class="pagination">
        <li><a href="<%=pageInfo.urls.firstPage%>">首页</a></li>
        <li class="<%=pageInfo.pages[20].class%>"><a href="<%=pageInfo.urls.prePage%>">上一页</a></li>
        <li class="<%=pageInfo.pages[0].class%>"><a href="<%=pageInfo.urls.pageStr1%>"><%=pageInfo.pages[0].page%></a></li>
        <li class="<%=pageInfo.pages[1].class%>"><a href="<%=pageInfo.urls.pageStr2%>"><%=pageInfo.pages[1].page%></a></li>
        <li class="<%=pageInfo.pages[2].class%>"><a href="<%=pageInfo.urls.pageStr3%>"><%=pageInfo.pages[2].page%></a></li>
        <li class="<%=pageInfo.pages[3].class%>"><a href="<%=pageInfo.urls.pageStr4%>"><%=pageInfo.pages[3].page%></a></li>
        <li class="<%=pageInfo.pages[4].class%>"><a href="<%=pageInfo.urls.pageStr5%>"><%=pageInfo.pages[4].page%></a></li>
        <li class="<%=pageInfo.pages[21].class%>"><a href="<%=pageInfo.urls.nextPage%>">下一页</a></li>
        <li><a href="<%=pageInfo.urls.lastPage%>">末页</a></li>
    </ul>

    <table id="provider" class="myTable table table-bordered"  width="100%">
        <thead>
        <tr>
            <th>维权号</th>
            <th>订单号</th>
            <th>维权原因</th>
            <th>用户诉求</th>
            <th>用户备注</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <%data.forEach(function(obj){%>
        <tr openID="<%=obj.openID%>" transID="<%=obj.transID%>" feedbackID="<%=obj.feedbackID%>">
            <td><%=obj.feedbackID%></td>
            <td><%=obj.orderID%></td>
            <td><%=obj.reason%></td>
            <td><%=obj.solution%></td>
            <td><%=obj.extInfo%></td>
            <td><%if(obj.msgType=="request"){%> <button class="btn btn-primary"> 已处理维权 </button> <%}%> </td>
        </tr>
        <% })%>
        </tbody>
    </table>
</div>